.browser-card {
  display: flex;
}

.browser-card__browser {
  width: 100%;
  max-width: 100%;
  min-height: 420px;
  flex: 1;
  background: white;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 10px rgba(31, 31, 31, 0.245);
}

.dark .browser-card__browser {
  background: #2d2d2d;
}

.browser-card__tabs-head {
  background-color: #000000;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-left: 20px;
}

.browser-card__tabs-head .browser-card__tab-open {
  width: 100px;
  height: 34px;
  border-radius: 7px 7px 0 0;
  background-color: #111111;
  display: flex;
  gap: 5px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 4px 8px;
  position: relative;
}

.browser-card__tabs-head .browser-card__tab-open .browser-card__close-tab {
  color: #fff;
  font-size: 9px;
  padding: 1px 4px;
  border-radius: 50%;
  cursor: default;
}

.browser-card__tabs-head .browser-card__tab-open .browser-card__close-tab:hover {
  background-color: #1a1a1a;
}

.browser-card__tabs-head .browser-card__tab-open .browser-card__rounded-l {
  position: absolute;
  background-color: #515151;
  width: 20px;
  height: 24px;
  top: 0;
  right: 0;
  transform: translate(100%);
  overflow: hidden;
}

.browser-card__tabs-head .browser-card__tab-open .browser-card__rounded-l .browser-card__mask-round {
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 0 0 0 7px;
}

.browser-card__tabs-head .browser-card__tab-open .browser-card__rounded-r {
  position: absolute;
  background-color: #111111;
  width: 20px;
  height: 24px;
  top: 0;
  left: 0;
  transform: translate(-100%);
  overflow: hidden;
}

.browser-card__tabs-head .browser-card__tab-open .browser-card__rounded-r .browser-card__mask-round {
  width: 100%;
  height: 100%;
  background-color: #000000;
  border-radius: 0 0 7px 0;
}

.browser-card__tabs-head .browser-card__tab-open span {
  color: #fff;
  font-size: 10px;
}

.browser-card__tabs-head .browser-card__window-opt {
  display: flex;
}

.browser-card__tabs-head .browser-card__window-opt button {
  height: 30px;
  width: 30px;
  border: none;
  background-color: transparent;
  transition: 0.1s ease-out;
  color: #fff;
  margin-bottom: 10px;
}

.browser-card__tabs-head .browser-card__window-opt button:hover {
  background-color: #1a1a1a;
}

.browser-card__tabs-head .browser-card__window-opt .browser-card__window-close:hover {
  background-color: rgb(255, 52, 52);
}

.browser-card__head-browser {
  width: 100%;
  height: 40px;
  background-color: #000000;
  padding: 7px;
  display: flex;
  border-radius: 0;
  gap: 5px;
}

.browser-card__head-browser input {
  background-color: #111111;
  border: 2px solid transparent;
  height: 100%;
  border-radius: 20px;
  outline: none;
  color: #fff;
  padding: 0 15px;
  flex: 1;
  transition: 0.2s ease-in-out;
  font-size: 12px;
}

.browser-card__head-browser input:hover {
  background-color: #1a1a1a;
}

.browser-card__head-browser input:focus {
  border-color: rgb(173, 214, 255);
  background-color: #111111;
  transition: none;
}

.browser-card__head-browser input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.browser-card__head-browser button {
  width: 27px;
  height: 25px;
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.browser-card__head-browser button:disabled {
  opacity: 0.4;
}

.browser-card__head-browser button:hover:not(:disabled) {
  background-color: #1a1a1a;
}

.browser-card__head-browser .browser-card__star {
  color: #fff;
  font-size: 15px;
  opacity: 0.7;
  height: 18px;
  width: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
}

.browser-card__content {
  flex: 1;
  padding: 20px;
  color: #333;
  font-size: 18px;
  line-height: 1.7;
  overflow-y: auto;
}

.dark .browser-card__content {
  color: #e2e8f0;
}
